.alert-danger, .alert-success {
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 0;
    font-size: 18px;
    letter-spacing: 0.15em;
    color: white;
}

.alertIcon {
    position: absolute;
    bottom: -5px;
    left: 5px;
}

.alertContainer {
    display: flex;
    position: relative;
    flex-direction: row;
}

.alertText {
    position: relative;
    margin-right: 15px;
    left: 25px;
}

.alrt-amount {
    position: relative;
    left: 35px;
}

.alrt-account, .alrt-error {
    position: relative;
    left: 20px;
}

.alertContainer > * {
    margin-left: 5px;
    margin-right: 10px;
}