extends layout

block content
  p= 'Auction admin page'

  form#stopForm
    button.btn.btn-danger#stopButton(type='submit') STABDYTI DABARTINIO DAIKTO STATYMĄ IR IŠ ŽMOGAUS NUSKAIČIUOTI PINIGĄ

  #stop-success-template.mt-3.alert.alert-success.alert-dismissible.fade.show.d-none
    img.alertIcon(src='/images/account/tick.svg' height='80px' width='60px' alt='')
    <div class="alertContainer">Sėkmingai sustabdyta<div class="alertText"></div></div>
    button.close(type='button' data-dismiss='alert')
      span &times;
  #stop-failure-template.mt-3.alert.alert-danger.alert-dismissible.fade.show.d-none
    img.alertIcon(src='/images/account/exclamation-mark.svg' height='80px' width='22px' alt='')
    <div class="alertContainer"><div class="alertText"> Klaida: </div><span class="alrt-error"></span></div>
    button.close(type='button' data-dismiss='alert')
      span &times;

  h2.h4.mb-3 Didžiausias statymas
    p#biggestBetText Daugiausiai pastatyta: 0 (niekas)

  form.mt-5#newItemForm
    .form-group
      label(for='item_name') Daikto pavadinimas
      input#item_name.form-control.form-control-sm(type='text' name='item_name' maxlength='60' required) 
    .form-group
      label(for='min_bet') Mažiausias statymas
      input#min_bet.form-control.form-control-sm(type='number' name='min_bet' value='0' required)
    button.btn.btn-success#newItemButton(type='submit') PRADĖTI NAUJO DAIKTO STATYMĄ

  #new-item-success-template.mt-3.alert.alert-success.alert-dismissible.fade.show.d-none
    img.alertIcon(src='/images/account/tick.svg' height='80px' width='60px' alt='')
    <div class="alertContainer">Daikto statymas sėkmingai pradėtas.<div class="alertText"></div></div>
    button.close(type='button' data-dismiss='alert')
      span &times;
  #new-item-failure-template.mt-3.alert.alert-danger.alert-dismissible.fade.show.d-none
    img.alertIcon(src='/images/account/exclamation-mark.svg' height='80px' width='22px' alt='')
    <div class="alertContainer"><div class="alertText"> Klaida: </div><span class="alrt-error"></span></div>
    button.close(type='button' data-dismiss='alert')
      span &times;
  
  script(src='/javascripts/admin/auction.js')
    
