extends topbarLayout

block content
    link(rel="stylesheet", href="/stylesheets/auction.css", type="text/css")
    
    #wrapper
        
        #video.twitch
            iframe(src=streamLink frameborder='0' allowfullscreen='true' scrolling='no' height='348' width='570')
        #chat.twitch
            iframe(src=chatLink height='348' width='322')
        
        //- #twitch-embed
        .bettingContainer
            .biggestBetContainer
                #decorationLine
                .betTexts
                    #biggestBetText Daugiausia pastatyta:
                    #betHolderText Pastatė:
                .betValues
                    #biggestBet <img id='coinImg' src=/images/auction/L.svg> 10000
                    #betHolder Vardenis Pavardenis

            .betInputContainer
                form#bet-form
                    #formDecorationLine
                    .col-8.col-sm-9.col-md-10
                        input#amount.form-control(type='number' autocomplete='off' name='amount' placeholder='Norima statyti suma' required)
                    .form-group
                    button.btn.btn-primary(type='submit') Statyti
                    #transfer-success-template.mt-3.alert.alert-success.alert-dismissible.fade.show.d-none
                        img.alertIcon(src='/images/account/tick.svg' height='80px' width='60px' alt='')
                        <div class="alertContainer"><span class="alrt-amount"></span> <div class="alertText">licų sėkmingai pastatytas</div>.</div>
                        button.close(type='button' data-dismiss='alert')
                        span &times;
                    #transfer-failure-template.mt-3.alert.alert-danger.alert-dismissible.fade.show.d-none
                        img.alertIcon(src='/images/account/exclamation-mark.svg' height='80px' width='22px' alt='')
                        <div class="alertContainer"><div class="alertText"> Klaida: </div><span class="alrt-error"></span></div>
                        button.close(type='button' data-dismiss='alert')
                        span &times;
    
    //- script(src='https://player.twitch.tv/js/embed/v1.js')
    script(src='/javascripts/auction.js')
    