extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') Šimtadienis
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
    span.navbar-toggler-icon
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/account') Account
  .container.mt-5
    .row
      .col
        h1 Žaidimai
    .row
      .col
        a(href="/games/pacman") Pacman
    .row
      .col
        a(href="/games/tetris") Tetris
    .row
      .col
        a(href="/games/blackjack") Blackjack
