extends topbarLayout

block content
  link(rel="stylesheet", href="/stylesheets/game-map/styles.css", type="text/css")

  //- nav.navbar.navbar-expand-lg.navbar-light.bg-light
  //-   a.navbar-brand(href='#') Šimtadienis
  //-   button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
  //-   span.navbar-toggler-icon
  .content-div
    .image-div
      img.mapImage(src='/images/game-map/zemelapis1.png', alt="")
      a(href='/games/pacman')
        img.pacmanImage.classhere(src='/images/game-map/pacman.svg', alt="Pacman" data-pacman)
      a(href='/games/tetris')
        img.tetrisImage(src='/images/game-map/tetris.svg', alt="Tetris" data-tetris)
      a(href='/games/snake')
        img.snakeImage(src='/images/game-map/snake.svg', alt="Snake" data-snake)
      a(href='/games/roulette')
        img.rouletteImage(src='/images/game-map/rulete.svg', alt="Roulette" data-roulette)
      a(href='/games/slots')
        img.slotsImage(src='/images/game-map/slots.svg', alt="Slots" data-slots)
      a(href='/games/blackjack')
        img.blackjackImage(src='/images/game-map/blackjack.svg', alt="Blackjack" data-blackjack)
      a(href='/account')
        img.bankImage(src='/images/game-map/bankas.svg', alt="Bank" data-bank)
      script(src='/javascripts/map.js')