extends layout

block content
  link(rel="stylesheet", href="/stylesheets/game-map/styles.css", type="text/css")

  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='#') Šimtadienis
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
    span.navbar-toggler-icon
  .content-div
    .image-div
      img.mapImage(src='/images/game-map/zemelapis1.png', alt="")
      a(href='/games/pacman')
        img.pacmanImage(src='/images/game-map/pacman2.png', alt="Pacman")
      a(href='/games/tetris')
        img.tetrisImage(src='/images/game-map/tetris2.png', alt="Tetris")
      a(href='/games/snake')
        img.snakeImage(src='/images/game-map/snake2.png', alt="Snake")
      a(href='/games/roulette')
        img.rouletteImage(src='/images/game-map/rulete2.png', alt="Roulette")
      a(href='/games/slots')
        img.slotsImage(src='/images/game-map/slots2.png', alt="Slots")
      a(href='/games/blackjack')
        img.blackjackImage(src='/images/game-map/kortos2.png', alt="Blackjack")
      a(href='/account')
        img.bankImage(src='/images/game-map/bankas2.png', alt="Bank")