extends layout

block topbar 
  link(rel='stylesheet' href='/stylesheets/topbar.css')

  //- .topbar Šimtadienis
  nav.navbar.navbar-expand-rg
    a.navbar-brand(href='/') Šimtadienis
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
    span.navbar-toggler-icon
    span.navbar-text= balance
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/account')
          p= name
