extends layout

block topbar 
  link(rel='stylesheet' href='/stylesheets/topbar.css')

  //- .topbar Šimtadienis
  nav.navbar.navbar-expand-lg
    a.navbar-brand(href='/') Šimtadienis
    //- button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
    //- span.navbar-toggler-icon
    img.mx-auto.mr-sm-0#topbarCoinImg(src='/images/topbar/moneta.svg')
    //- a(href='/account')
    a.nav-link#balanceText(href='/account')= balance
    //- a.nav-link.my-2.my-sm-0(href='/account')
    //-   p= name
  
  .winningAnimationContainer.hide(data-winning-animation='')
  script(src='/javascripts/topbarAnimation.js')
