.reverted {
	text-decoration: line-through;
	text-decoration-color: black;
	background-color: transparent;
}
.buttons .btn {
	margin-right: .5rem;
}
.buttons > form {
	display: inline-block;
}
.alrt-account {
	font-style: italic;
}
