extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/games/blackjack.css", type="text/css")

  .topbar Šimtadienis
  .stakeInputContainer.hide(data-stake-input-container='')
    .stakeInputText Įveskite statymą
    input.stakeInputField(type='text' data-stake-input-field='')
    button.stakeInputButton(type='button' data-stake-input-button='') Statyti
  .balanceRequestContainer(data-balance-request-container='')
    .balanceRequestText Kiek persivedate iš banko sąskaitos?
    input.balanceRequestInputField(type='text' data-balance-value='')
    button.balanceRequestButton(type='button' data-balance-request-button='') Pervesti
  .stakeField
  .loseScreen.hide(data-lose-screen='')
  .winScreen.hide(data-win-screen='')
  .tieScreen.hide(data-tie-screen='')
  .gameTable.blur(data-game-table)
    img.gameTableImg(src='/images/games/blackjack/stalas.svg')
    .playerTag ŽAIDĖJAS
    .playerPointsBar
      .playerPoints(data-player-points='')
    .topRow
      .playerCard.playerCard1(data-player-card='')
        .cardValue
        .cardSuit
      .playerCard.playerCard2(data-player-card='')
        .cardValue
        .cardSuit
      .playerCard.playerCard3(data-player-card='')
        .cardValue
        .cardSuit
      .playerCard.playerCard4(data-player-card='')
        .cardValue
        .cardSuit
      .playerCard.playerCard5(data-player-card='')
        .cardValue
        .cardSuit
      .playerCard.playerCard6(data-player-card='')
        .cardValue
        .cardSuit
      .playerCard.playerCard7(data-player-card='')
        .cardValue
        .cardSuit
      .playerCard.playerCard8(data-player-card='')
        .cardValue
        .cardSuit
      .playerCard.playerCard9(data-player-card='')
        .cardValue
        .cardSuit
      .playerCard.playerCard10(data-player-card='')
        .cardValue
        .cardSuit
    .middleRow
      .buttonRow
        button.hitButton(type='button' data-hit-button='') Imti
        button.standButton(type='button' data-stand-button='') Sustoti
      .moneyContainer
        .moneyTextContainer
          .balanceText Bankas:
          .stakeText Statymas:
          .potentialWinningsText Galimas laimėjimas:
        .moneyAmountContainer 
          .balance(data-balance='') 0
          .stake(data-stake='') 0
          .potentialWinnings(data-potential-winnings='') 0
      .scndButtonRow
        button.restartButton(type='button' data-restart-button='') Iš naujo
    .bottomRow
      .dealerCard.dealerCard1(data-dealer-card='')
        .cardValue
        .cardSuit
      .dealerCard.dealerCard2(data-dealer-card='')
        .cardValue
        .cardSuit
      .dealerCard.dealerCard3(data-dealer-card='')
        .cardValue
        .cardSuit
      .dealerCard.dealerCard4(data-dealer-card='')
        .cardValue
        .cardSuit
      .dealerCard.dealerCard5(data-dealer-card='')
        .cardValue
        .cardSuit
      .dealerCard.dealerCard6(data-dealer-card='')
        .cardValue
        .cardSuit
      .dealerCard.dealerCard7(data-dealer-card='')
        .cardValue
        .cardSuit
      .dealerCard.dealerCard8(data-dealer-card='')
        .cardValue
        .cardSuit
      .dealerCard.dealerCard9(data-dealer-card='')
        .cardValue
        .cardSuit
      .dealerCard.dealerCard10(data-dealer-card='')
        .cardValue
        .cardSuit
    .dealerPointsBar
      .dealerPoints(data-dealer-points='')
    .dealerTag DALINTOJAS

  script(src='/javascripts/games/blackjack/carddeck.js')
  script(src='/javascripts/games/blackjack/script.js')