extends ../topbarLayout

block content
  link(rel="stylesheet", href="/stylesheets/games/blackjack.css", type="text/css")

  //- .topbar Šimtadienis
  .stakeInputContainer(data-stake-input-container='')
    .stakeInputText Įveskite statymą
    input.stakeInputField(type='text' data-stake-input-field='')
    button.stakeInputButton(type='button' data-stake-input-button='') Statyti
  .stakeField
  .loseScreen.hide(data-lose-screen='')
  .winScreen.hide(data-win-screen='')
  .tieScreen.hide(data-tie-screen='')
  .gameTable.blur(data-game-table)
    img.gameTableImg(src='/images/games/blackjack/stalas.svg')
    .playerTag ŽAIDĖJAS
    .playerPointsBar
      .playerPoints(data-player-points='')
    .topRow
      .playerCard.playerCard1
      .playerCard.playerCard2
      .playerCard.playerCard3
      .playerCard.playerCard4
      .playerCard.playerCard5
      .playerCard.playerCard6
      .playerCard.playerCard7
      .playerCard.playerCard8
      .playerCard.playerCard9
      .playerCard.playerCard10
    .middleRow
      .buttonRow
        button.hitButton(type='button' data-hit-button='') Imti
        button.standButton(type='button' data-stand-button='') Sustoti
      .moneyContainer
        .moneyTextContainer
          .stakeText Statymas:
          .potentialWinningsText Galimas laimėjimas:
        .moneyAmountContainer
          .stake(data-stake='') 0
          .potentialWinnings(data-potential-winnings='') 0
      .scndButtonRow
        button.restartButton(type='button' data-restart-button='') Iš naujo
    .bottomRow
      .dealerCard.dealerCard1
      .dealerCard.dealerCard2
      .dealerCard.dealerCard3
      .dealerCard.dealerCard4
      .dealerCard.dealerCard5
      .dealerCard.dealerCard6
      .dealerCard.dealerCard7
      .dealerCard.dealerCard8
      .dealerCard.dealerCard9
      .dealerCard.dealerCard10
    .dealerPointsBar
      .dealerPoints(data-dealer-points='')
    .dealerTag DALINTOJAS

  script(src='/javascripts/games/blackjack/script.js')