extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/games/pacman.css", type="text/css")
  img#img_pacman(src='/images/games/pacman/pacman.svg')
  img#img_ghost(src='/images/games/pacman/ghost.png')
  img#img_wall(src='/images/games/pacman/wall.svg')
  img#img_bg(src='/images/games/pacman/bg.svg')
  img#img_dot(src='/images/games/pacman/dot.svg')
  img#img_fruit(src='/images/games/pacman/fruit.png')
  img#img_red_ghost(src='/images/games/pacman/redghost.png')
  img#img_pink_ghost(src='/images/games/pacman/pinkghost.png')
  img#img_yellow_ghost(src='/images/games/pacman/yellowghost.png')
  img#img_cyan_ghost(src='/images/games/pacman/cyanghost.png')
  img#img_frightened_ghost(src='/images/games/pacman/frightenedghost.png')
  img#img_frightened_blink_ghost(src='/images/games/pacman/frightenedghostblink.png')
  img#img_eaten_ghost(src='/images/games/pacman/eatenghost.jpg')
  canvas#gameScreen(width='420' height='540')
  div#texts
    div#score_text Score: 0000
    div#log_text Žaidimas nepradėtas
  button#start_stop_btn Žaisti
  button#quit_btn Baigti žaidimą ir atsiimti prizą

  script(src='/javascripts/games/pacman/graph.js')
  script(src='/javascripts/games/pacman/input.js')
  script(src='/javascripts/games/pacman/level.js')
  script(src='/javascripts/games/pacman/pickup.js')
  script(src='/javascripts/games/pacman/ghost.js')
  script(src='/javascripts/games/pacman/player.js')
  script(src='/javascripts/games/pacman/game.js')
  script(src='/javascripts/games/pacman/index.js')

