extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/games/roulette.css", type="text/css")

  .bets
    div#wrapper0
      p#text ĮVESK STATOMĄ SUMĄ:
      input#amountInput(type='number' value='' min='0' step='5')
      
    div#wrapper0
      p#text PASIRINK SPALVĄ UŽ KURIĄ NORI STATYTI:
      .btn-group.btn-group-toggle(data-toggle='buttons')
        div#buttons-div
          label.btn.btn-danger.btn-lg#colorRed
            input#check-buttons(type='radio' name='options' autocomplete='off' checked='')
        div#buttons-div
          label.btn.btn-dark.btn-lg#colorBlack
            input#check-buttons(type='radio' name='options' autocomplete='off')
        div#buttons-div
          label.btn.btn-success.btn-lg#colorGreen
            input#check-buttons(type='radio' name='options' autocomplete='off')
     
    div#wrapper0
      div#submit-div
        button#submit SUK!
        
  #mainbox.mainbox
    #box.box
      .box1
        img(src='/images/games/roulette/roulette.svg' height='900' width='900')
    

  script(src='/javascripts/games/roulette/main.js')
