extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/games/roulette.css", type="text/css")

  .bets
    p Write the amount you want to bet
    input#amountInput(type='number' value='' min='0' step='5')
    p Choose color
    .btn-group.btn-group-toggle(data-toggle='buttons')
      label.btn.btn-danger.btn-lg#colorRed
        input(type='radio' name='options' autocomplete='off' checked='')
        | Red
      label.btn.btn-dark.btn-lg#colorBlack
        input(type='radio' name='options' autocomplete='off')
        | Black
      label.btn.btn-success.btn-lg#colorGreen
        input(type='radio' name='options' autocomplete='off')
        | Green
  #mainbox.mainbox
    #box.box
      .box1
        img(src='/images/games/roulette/roulette.png' height='500' width='500')
    button.spin#spinButton SPIN

  script(src='/javascripts/games/roulette/main.js')
