extends ../topbarLayout

block content
  link(rel="stylesheet", href="/stylesheets/games/slots.css", type="text/css")

  
  //- .topbar  
  section#Slots
    .textContainer
      img#alertImage(src='/images/games/slots/kaina.png')
    img.slotsImage(src='/images/games/slots/slots2.svg')
    #reelContainer
      #reel1.reel
      #reel2.reel
      #reel3.reel

  section#Gira SUKTI!

  img#stripImage(src='/images/games/slots/lic_strip.png')

  script(src='/javascripts/games/slots/main.js')