extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/games/slots.css", type="text/css")

  section#status WELCOME!
  section#Slots
    #slot1.a1
    #slot2.a1
    #slot3.a1
  section#Gira TAKE A SPIN!

  script(src='/javascripts/games/slots/main.js')