extends ../topbarLayout

block content
  link(rel="stylesheet", href="/stylesheets/games/slots.css", type="text/css")

  
  //- .topbar  
  section#Slots
    .textContainer
      img.costImage(src='/images/games/slots/kaina.png' data-cost-image='')
    img.slotsImage(src='/images/games/slots/slots2.svg')
    #reel1.symbol1
    #reel2.symbol1
    #reel3.symbol1
  section#Gira SUKTI!

  script(src='/javascripts/games/slots/main.js')