extends ../layout

block content
  link(rel="stylesheet", href="/stylesheets/games/slots.css", type="text/css")

  section#status
    img.winImage.hide(src='/images/games/slots/laimejai.png' data-win-image='')
    img.loseImage.hide(src='/images/games/slots/pralaimejai.png' data-lose-image='')
    img.costImage(src='/images/games/slots/kaina.png' data-cost-image='')
  section#Slots
    img.slotsImage(src='/images/games/slots/slots2.svg')
    #slot1.a1
    #slot2.a1
    #slot3.a1
  section#Gira SUKTI!

  script(src='/javascripts/games/slots/main.js')