extends ../topbarLayout

block content
  link(rel="stylesheet", href="/stylesheets/games/snake.css", type="text/css")

  canvas#snake(width='532' height='532') 
  //- 19 * box=28

  script(src='/javascripts/games/snake/snake.js')