extends ../topbarLayout

block content
  link(rel="stylesheet", href="/stylesheets/games/snake.css", type="text/css")

  div#canvasCointainer
    canvas#snake
    //- 19 * box=28

  script(src='/javascripts/games/snake/snake.js')