extends ../topbarLayout

block content
  link(rel="stylesheet", href="/stylesheets/games/snake.css", type="text/css")

  div#canvasCointainer
    canvas#snake
    //- 19 * box=28
  //- Sprites for game
  img#ground(src='/images/games/snake/ground.png')
  img#fonas(src='/images/games/snake/fonas.png')
  img#licejus(src='/images/games/snake/licejus.png')
  img#icon(src='/images/games/snake/icon.png')
  img#galva(src='/images/games/snake/Saulius.png')
  img#zalia(src='/images/games/snake/zalia.png')
  img#obuolys(src='/images/games/snake/obuolys.png')
  img#raudona(src='/images/games/snake/raudona.png')
  //- img#siena(src='/images/games/snake/siena.png')
  //- img#save(src='/images/games/snake/save.png')
  - for (var i = 1; i < 32; ++i) {
    - var name = "/images/games/snake/" + i + ".png"
    img.maistas(src= name)
  - }

  script(src='/javascripts/games/snake/snake.js')