*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none !important;
}
body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: #3b5b2c;
    background-size: cover;
}

.mainbox{
    position: relative;
    width: 500px;
    height: 500px;
}
.mainbox:after{
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    background: url('arrow.png') no-repeat;
    background-size: 32px;
    right: 10px;
    top: 55%;
    transform: translateY(-50%);
}
.box{
    width: 100%;
    height: 100%;
    position: relative;
    /* border-radius: 50%; */
    /* border: 10px solid #fff; */
    /* overflow: hidden; */
    /* transition: all ease 5s; */
    transition: all ease 5s;
}
.box1{
    position:relative;
    /* left:-10px;
    top:-10px; */
    /* rotate("30deg"); */
}
span b{
    width: 65px;
    height: 65px;
    line-height: 65px;
    border-radius: 50%;
    font-size: 26px;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 3px 3px 0 #717171;
}
.spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #ff5722;
    color: #fff;
    box-shadow: 0 5px 20px #000;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}
.spin:active{
    width: 70px;
    height: 70px;
    font-size: 20px;
}

.mainbox.animate:after{
    animation: animateArrow 0.7s ease infinite;
}
@keyframes animateArrow{
    50%{
        right: -40px;
    }
}
.refresh{
    border-radius: 12px;
    padding: 14px 28px;
    position: relative;
    left:550px;
    top:300px;
    background-color:blue;
}
a:link {
    text-decoration: none;
    color: white;
}
.bets{
    position: relative;
    left:-100px;
}

.btn-group-toggle > label {
    cursor: pointer;
}

#text{
    color: black;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.1em;
}

#amountInput{
    border-radius: 0;
    border: 2px solid black;
    box-shadow: 2.5px 3.5px #3b5b2c inset, 4px 5px rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
}
#amountInput:focus {
    border-radius: 0;
    border: 2px solid black;
    box-shadow: 2.5px 3.5px #3b5b2c  inset, 4px 5px rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
}
#colorRed{
    background-color: red;
    border-radius: 0;
    border: none;
    height: 2vw;
    width: 5vw;
    min-width: 90px;
    box-shadow: 4px 5px darkred;
}
#colorRed:hover{
    background-color: rgb(185, 34, 34);
    transition-duration: 0.3s;
}


#colorBlack{
    background-color: rgb(37, 37, 37);
    border-radius: 0;
    border: none;
    height: 2vw;
    width: 5vw;
    min-width: 90px;
    box-shadow: 4px 5px black;
}
#colorBlack:hover{
    background-color: rgb(58, 58, 58);
    transition-duration: 0.3s;
}
#colorGreen{
    background-color: rgb(113, 179, 15);
    border-radius: 0;
    border: none;
    height: 2vw;
    width: 5vw;
    min-width: 90px;
    box-shadow: 4px 5px green;
}
#colorGreen:hover{
    background-color: rgb(39, 173, 39);
    transition-duration: 0.3s;
}
#submit{
    
    background-color: #202e19;
    color: #476439;
    border-radius: 0;
    border: 2px solid black;
    width: 7vw;
    height:2vw;
    min-width: 90px;
    box-shadow: 4px 5px rgba(255, 255, 255, 0.3);
    font-weight: 600;
    letter-spacing: 0.05em;
    font-style: italic;
    
}
#submit:hover{
    background-color: #2f4225;
    color: white;
    transition-duration: 0.3s;
}
input[type=radio]{
  
  visibility: hidden;
  position: absolute;
}
