canvas{
    display: block;
    margin: 0 auto;
}

body {
	background-color: #c8f177;
}

.navbar {
	background-color: #64974d;
}

.navbar-brand, .nav-link, .navbar-text {
	color: #c8f177;
}