*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1d6487;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-div {
  position: relative;
}

.image-div {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: relative;
  height: 50vw;
  width: 88.9vw;
}

.gameContainer:hover {
  cursor: pointer;
}
.gameContainer:hover .gameIcon {
  filter: drop-shadow(0 0 15px #fafafaba);
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
}

.gameIcon {
  position: absolute;
  height: 100%;
  width: 100%;
}

.mapImage {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.pacmanContainer {
  position: absolute;
  height: 6.79vw;
  width: 7.9vw;
  top: 16%;
  left: 29%;
}

.tetrisContainer {
  position: absolute;
  height: 10.32vw;
  width: 12vw;
  top: 50%;
  left: 22%;
}

.snakeContainer {
  position: absolute;
  height: 9vw;
  width: 10.47vw;
  top: 38%;
  left: 9.5%;
}

.rouletteContainer {
  position: absolute;
  height: 9vw;
  width: 8.16vw;
  top: 13%;
  left: 45%;
}

.slotsContainer {
  position: absolute;
  height: 9.8vw;
  width: 9.8vw;
  top: 22%;
  left: 61%;
}

.blackjackContainer {
  position: absolute;
  height: 9vw;
  width: 8.16vw;
  top: 34%;
  left: 52%;
  z-index: 2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.blackjackImage:hover {
  transform: translate(-50%, -50%) scale(0.9);
  -webkit-transform: translate(-50%, -50%) scale(0.9);
}

.bankContainer {
  position: absolute;
  height: 10vw;
  width: 15vw;
  top: 62%;
  left: 64%;
}


.navbar-brand,
.nav-link,
.navbar-text {
  color: #c1dfd2;
  display: flex;
}

.navbar {
  background-color: #1d6487;
  position: absolute;
  display: flex;
}

.dune {
  position: absolute;
  z-index: 1;
  height: 12vw;
  width: 14.14vw;
  top: 22%;
  left: 44%;
}
