*, *::before, *::after {
    padding: 0;
    margin: 0;
}

body {
    background-color: #1d6487;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content-div {
    position: relative;
}

.image-div {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    height: 50vw;
    width: 88.9vw;
}

.icon:hover {
    filter: drop-shadow(0 0 15px #f9f753ba);
  }
  
  
.mapImage {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.pacmanImage {
    position: absolute;
    height: 6.79vw;
    width: 7.9vw;
    top: 16%;
    left: 29%;
    transform: rotate(-15deg);
}

.tetrisImage {
    position: absolute;
    height: 10.32vw;
    width: 12vw;
    top: 50%;
    left: 22%;
}

.snakeImage {
    position: absolute;
    height: 9vw;
    width: 10.47vw;
    top: 38%;
    left: 9.5%;
}

.rouletteImage {
    position: absolute;
    height: 9vw;
    width: 8.16vw;
    top: 13%;
    left: 45%;
}

.slotsImage {
    position: absolute;
    height: 9.8vw;
    width: 9.8vw;
    top: 22%;
    left: 61%;
}

.blackjackImage {
    position: absolute;
    height: 9vw;
    width: 8.16vw;
    top: 27%;
    left: 48%;
    z-index: 2;
}

.bankImage {
    position: absolute;
    height: 10vw;
    width: 15vw;
    top: 62%;
    left: 64%;
}

.navbar {
    background-color: #1d6487;
    position: absolute;
}
  
.navbar-brand, .nav-link, .navbar-text {
    color: #c1dfd2;
}

.dune {
    position: absolute;
    z-index: 1;
    height: 12vw;
    width: 14.14vw;
    top: 22%;
    left: 44%;
}